@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
